<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:fragment="head-links">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>WorkArt HUB</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}">

</th:block>
</head>
<body>
	<nav th:fragment="nav-bar" class="navbar navbar-default navbar-expand-lg navbar-light">
		<div class="navbar-header">
			<a class="navbar-brand" href="#" th:href="@{/}">WorkArt<b>HUB</b></a>
			<button type="button" data-target="#navbarCollapse"
				data-toggle="collapse" class="navbar-toggle">
				<span class="navbar-toggler-icon"></span> <span class="icon-bar"></span>
				<span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
		</div>
		<!-- Collection of nav links, forms, and other content for toggling -->
		<div id="navbarCollapse" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#" th:href="@{/painting-types}">Painting types</a></li>
				<li><a href="#" th:href="@{/level-damage}">Damage levels </a></li>
				<li><a href="#" th:href="@{/category-damage}">Damage category</a></li>
				<li><a href="#" th:href="@{/restoring-cost}">restoration costs</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="table-responsive">
			<div class="panel panel-default table-wrapper">
				<div class="table-title" layout:fragment="pane-title">
					<div class="row">
						<div class="col-xs-6">
							<h2>
								Manage <b>Employes</b>
							</h2>
						</div>
						<div class="col-xs-6">
							<a href="#addEmployeeModal" class="btn btn-success"
								data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add
									New Employed</span></a>
						</div>
					</div>
				</div>
				<panel class="panel-body" layout:fragment="pane-content"> </panel>
			</div>
		</div>
	</div>
	<!-- Add Modal HTML -->
	<div id="addModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form layout:fragment="add-form"> 
				</form>
			</div>
		</div>
	</div>
	<!-- Edit Modal HTML -->
	<div id="editModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form layout:fragment="edit-form"></form>
			</div>
		</div>
	</div>
	<!-- Delete Modal HTML -->
	<div id="deleteModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form layout:fragment="delete-modal">
					
				</form>
			</div>
		</div>
	</div>
<script src="js/script.js" th:src="@{/js/script.js}"></script>
</body>
</html>