<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/skel}">
<head>
 <meta charset="utf-8">
</head>
<body>
	<div layout:fragment="pane-title">
		<div class="row">
			<div class="col-xs-6">
				<h2>Manage <b>Categories of damage</b></h2>
			</div>
			<div class="col-xs-6">
				<a href="#addModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New</span></a>												
			</div>
		</div>
	</div>
	<div layout:fragment="pane-content">
		<table class="table table-striped table-hover" >
			<thead>
				<tr>				
					<th>Initials</th>
					<th>Figure on MA</th>
					<th>Type of Damage</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${category_list.empty}">
	            	<td colspan="2"> No Category of Damage Available </td>
	        	</tr>
	        	<tr th:each="category : ${category_list}">
					<td><span th:text="${category.Type}"> Initials</span></td>
					<td><span th:text="${category.Figure}"> Figure on MA</span></td>
					<td><span th:text="${category.Details}"> Type of Damage</span></td>
					<td>
						<a href="#editModal" th:href="@{/category-damage/{Id}(Id=${category.Id})}" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
						<a href="#deleteModal" th:href="@{/category-damage/{Id}(Id=${category.Id})}" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
					</td>
				</tr>						
			</tbody>
		</table>
	</div>
					
	<!-- Add Modal HTML -->
	<form layout:fragment="add-form" th:method="POST" th:action="@{/category-damage}">
		<div class="modal-header">						
			<h4 class="modal-title">Add Category Damage</h4>
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label>Initials</label> 
				<input name="type"  type="text" class="form-control" required>
			</div>
		
		
			<div class="form-group">
				<label>Figure on MA:</label> 
				<input name="figure"  type="text" class="form-control" required>
			</div>
		
		
			<div class="form-group">
				<label>Type of damage:</label> 
				<input name="details"  type="text" class="form-control" required>
			</div>
		</div>
		<div class="modal-footer">
		<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel"> 
		<input type="submit" class="btn btn-success" value="Add">
		</div>
	</form>
	<!-- Edit Form -->
	<form layout:fragment="edit-form" th:method="PUT" th:action="@{/category-damage}">
		<div class="modal-header">						
			<h4 class="modal-title">Edit Category Damage </h4>
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label>Initials</label> 
				<input name="type"  type="text" class="form-control" required>
			</div>
		
		
			<div class="form-group">
				<label>Figure on MA:</label> 
				<input name="figure"  type="text" class="form-control" required>
			</div>	
		
			<div class="form-group">
				<label>Type of Damage</label> 
				<input name="details"  type="text" class="form-control" required>
			</div>
		</div>
		<div class="modal-footer">
		<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel"> 
		<input type="submit" class="btn btn-success" value="Edit">
		</div>
	</form>
	<!-- Delete Modal HTML -->	
	<form layout:fragment="delete-modal" th:method="DELETE" th:action="@{/category-damage}">
		<div class="modal-header">
			<h4 class="modal-title">Delete Category Damage</h4>
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
		</div>
		<div class="modal-body">
			<p>Are you sure you want to delete these Records?</p>
			<p class="text-warning">
				<small>This action cannot be undone.</small>
			</p>
		</div>
		<div class="modal-footer">
			<input type="button" class="btn btn-default" data-dismiss="modal"
				value="Cancel"> <input type="submit" class="btn btn-danger"
				value="Delete">
		</div>
	</form>
			
</body>
</html>