<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/skel}">
<head>
 <meta charset="utf-8">
</head>
<body>
	<div layout:fragment="pane-title">
		<div class="row">
			<div class="col-xs-6">
				<h2>Manage <b>Restoration Costs</b></h2>
			</div>
			<div class="col-xs-6">
				<a href="#addModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New</span></a>												
			</div>
		</div>
	</div>
	<div layout:fragment="pane-content">
		<table class="table table-striped table-hover" >
			<thead>
				<tr>				
					<th>Painting type</th>
					<th>Damage Category</th>
					<th>Damage Level</th>
					<th>Restoration Cost (USD)</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${cost_list.empty}">
	            	<td colspan="2"> No Restoration Cost Available </td>
	        	</tr>
	        	<tr th:each="cost : ${cost_list}">
	        		<td><span th:text="${cost.paintingType.name}"> Painting type</span></td>
					<td><span th:text="${cost.categoryDamage.details}"> Painting type</span></td>					
					<td><span th:text="${cost.levelDamage.name}"> Painting type</span></td>
					<td><span th:text="${cost.Cost}"> Painting type</span></td>
					<td>
						<a href="#editModal" th:href="@{/restoring-cost/{Id}(Id=${cost.Id})}" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
						<a href="#deleteModal" th:href="@{/restoring-cost/{Id}(Id=${cost.Id})}" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
					</td>
				</tr>						
			</tbody>
		</table>		
	</div>
					
	<!-- Add Modal HTML -->
	<form layout:fragment="add-form" th:method="POST" th:action="@{/restoring-cost}"  th:object="${newCost}">
		<div class="modal-header">						
			<h4 class="modal-title">Add Restoration Cost</h4>
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label>Painting Type:</label> 
				<select th:field="*{paintingType}" name="paintingType" class="form-control" required>
					<option value="">Select...</option>
					<option th:each="painting : ${painting_list}" th:value="${painting.id}" th:text="${painting.name}">Option</option>
				
				</select>
			</div>
			<div class="form-group">
				<label>Damage Category:</label> 
				<select th:field="*{categoryDamage}" name="categoryDamage" class="form-control" required>
					<option value="">Select...</option>
					<option th:each="category : ${category_list}" th:value="${category.id}" th:text="${category.details}">Option</option>
				</select>
			</div>
			<div class="form-group">
				<label>Damage Level:</label> 
				<select th:field="*{levelDamage}" name="levelDamage" class="form-control" required>
					<option value="">Select...</option>
					<option th:each="level : ${level_list}" th:value="${level.id}" th:text="${level.name}">Option</option>
				</select>
			</div>
			<div class="form-group">
				<label>Cost (USD):</label> 
				<input name="cost"  type="number" min="0" step="0.1" class="form-control" required>
			</div>
		</div>
		<div class="modal-footer">
		<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel"> 
		<input type="submit" class="btn btn-success" value="Add">
		</div>
	</form>
	<!-- Edit Form -->
	<form layout:fragment="edit-form" th:method="PUT" th:action="@{/restoring-cost}" th:object="${newCost}">
		<div class="modal-header">						
			<h4 class="modal-title">Edit Restoring Cost</h4>
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label>Painting Type:</label> 
				<select th:field="*{paintingType}" name="paintingType" class="form-control" required>
					<option value="">Select...</option>
					<option th:each="painting : ${painting_list}" th:value="${painting.id}" th:text="${painting.name}">Option</option>
				
				</select>
			</div>
			<div class="form-group">
				<label>Damage Category:</label> 
				<select th:field="*{categoryDamage}" name="categoryDamage" class="form-control" required>
					<option value="">Select...</option>
					<option th:each="category : ${category_list}" th:value="${category.id}" th:text="${category.details}">Option</option>
				</select>
			</div>
			<div class="form-group">
				<label>Damage Level:</label> 
				<select th:field="*{levelDamage}" name="levelDamage" class="form-control" required>
					<option value="">Select...</option>
					<option th:each="level : ${level_list}" th:value="${level.id}" th:text="${level.name}">Option</option>
				</select>
			</div>
			<div class="form-group">
				<label>Cost (USD):</label> 
				<input name="cost"  type="number" min="0" step="0.1" class="form-control" required>
			</div>
		</div>
		<div class="modal-footer">
		<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel"> 
		<input type="submit" class="btn btn-success" value="Edit">
		</div>
	</form>
	<!-- Delete Modal HTML -->	
	<form layout:fragment="delete-modal" th:method="DELETE" th:action="@{/restoring-cost}">
		<div class="modal-header">
			<h4 class="modal-title">Delete Painting Type</h4>
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
		</div>
		<div class="modal-body">
			<p>Are you sure you want to delete these Records?</p>
			<p class="text-warning">
				<small>This action cannot be undone.</small>
			</p>
		</div>
		<div class="modal-footer">
			<input type="button" class="btn btn-default" data-dismiss="modal"
				value="Cancel"> <input type="submit" class="btn btn-danger"
				value="Delete">
		</div>
	</form>
			
</body>
</html>